.tasklist {
  height: 300px;
  overflow-y: auto;
  border-bottom: 1px solid rgb(216, 208, 208);
}

.tasklist > .input-wrapper:not(:last-child) {
  margin-bottom: 15px;
  border-bottom: 1px solid rgb(216, 208, 208);
}
