.action {
  padding: 10px;
}
.action > h4 {
  text-align: center;
  margin-bottom: 20px;
}

.action-btns {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px 0;
}
