.status-filter {
  padding: 10px;
}

.status-filter > h4 {
  text-align: center;
  margin-bottom: 20px;
}

.status {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 10px 0;
}
